.overall-rating{
    min-width: 300px;
    text-align: center;
    min-height: 300px;
}

.overall-rating .panel-body{
    padding-top: 5%;
}

#name{
    font-size: 80px;
}

.details{
    font-size: 20px;
}

.details span{
    color: #A05D56;
    padding-right: 5%;
}


.address{
    padding-left:20%;
}

.company_page .panel-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Text Me One', sans-serif;
}

.description{
    font-size: 20px;
}

.company_page .row{
    margin-bottom: 5%;
}

.header_reviews h2{
    color: #A05D56;
}

.header_reviews span{
    color: black;
    font-size: 12px;
    padding-bottom:10%;
    margin-left: 3%;
}

.detail_ratings {
    padding-top: 1%;
}

.detail_ratings h4{
    margin: 0;
}

.detail_ratings span{
    color: #A05D56;
    font-weight: bold;
}

.detail_ratings .type_rating{
    padding: 0;
}

