.row .company{
    /*min-height: 300px;*/
    /*border: 1px solid black;*/
}

.top{
    /*min-height: 300px;*/
    /*border: 1px solid black;*/
}

.overall-rating{
    min-width: 300px;
    text-align: center;
    min-height: 300px;
}

.company h1{
    font-size: 3.5em;
}