.row .company{
    /*min-height: 300px;*/
    /*border: 1px solid black;*/
}

.top{
    /*min-height: 300px;*/
    /*border: 1px solid black;*/
}

.overall-rating{
    min-width: 300px;
    text-align: center;
    min-height: 300px;
}

/*.company h1{*/
    /*font-size: 3.5em;*/
/*}*/

#name{
    font-size: 80px;
}

.details{
    font-size: 20px;
}

.details span{
    color: #D0743C;
    padding-right: 5%;
}


.address{
    padding-left:20%;
}

.company_page .panel-title{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Text Me One', sans-serif;
}

.description{
    font-size: 20px;
}

.company_page .row{
    margin-bottom: 5%;
}