body { margin:0; padding:0; }

#map .angular-mapbox-map {
    top:0; bottom:0; width:100%; height: 100%; }

/*.jobmapper{*/
    /*margin:0;*/
    /*padding: 0;*/
/*}*/


.container {
}
.angular-mapbox-map {
  min-width: 100%;
}


.ng-invalid.ng-dirty{
    border-color: #E80C47;
}

.ng-valid.ng-dirty{
    border-color: #FD8C25;
}

.leaflet-popup-content h1{
    color: #FD8C25;
    font-size: 1.5em;
}

.leaflet-popup-content a{
    color: #6B486B;
}

form{
    padding: 10%;
}

