/*body { margin:0; padding:0; }*/
/*#map .angular-mapbox-map {*/
    /*top:0; bottom:0; width:100%; height: 100%; }*/

/*#map {*/
    /*position:absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    /*width:100%;*/
    /*border: 2px solid green;*/
    /*min-height: 100%;*/
/*}*/