<!--<div ng-switch="company">
{#    <div ng-if="company.logo_url">#}
{#        <img src="{{ company.logo_url }}">#}
{#    </div>#}
{#    <div ng-if="company.logo_url == ''">#}
{#        <p>Image No image available</p>#}
{#    </div>#}
{#</div>#}
{##}
{#overall rating: {{ company.overall_rating }}#}
{#<br>#}
{#culture values rating : {{ company.culture_values_rating }}#}
{#<br>#}
{#senior_leadership_rating : {{ company.senior_leadership_rating }}#}
{#<br>#}
{#compensation_benefits_rating : {{ company.compensation_benefits_rating }}#}
{#<br>#}
{#career_opportunities_rating : {{ company.career_opportunities_rating }}#}
{#<br>#}
{#work_life_balance_rating : {{ company.work_life_balance_rating }}#}
{#<br>#}
{#Number of ratings: {{ company.number_ratings }}#}
{#<br>#}
{#<h4>Overall Rating</h4>#}
{#<donut-chart data="4.2"></donut-chart>#}
{##}
{#<h4>Senior Leadership Rating</h4>#}
{#<donut-chart data="3.8"></donut-chart>#}
{#<h4>Work/Life Balance Rating</h4>#}
{#<donut-chart data="4"></donut-chart>#}-->
<div class="row top">
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Image Goes Here
              <br>
            <!--<div ng-switch="company">
{#    <div ng-if="company.logo_url">#}
{#        <img src="{{ company.logo_url }}">#}
{#    </div>#}
{#    <div ng-if="company.logo_url == ''">#}
{#        <p>Image No image available</p>#}
{#    </div>#}
{#</div>#}-->
            Gluten-free Schlitz fap polaroid. Twee Tumblr polaroid bicycle rights +1 wayfarers. Mustache beard chillwave mumblecore, taxidermy master cleanse messenger bag disrupt pug pop-up Vice retro Carles. Chia food truck Thundercats banjo, semiotics paleo Pitchfork American Apparel locavore Helvetica tilde mixtape tote bag. Twee taxidermy cardigan, next level hella synth Banksy heirloom Williamsburg literally. Mlkshk tattooed skateboard chia banjo. Art party High Life heirloom, sriracha lomo plaid scenester chambray gluten-free fixie mumblecore occupy Neutra.
          </div>
          <div class="panel-footer">Company Name Here</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                Num. Followers <span>{{ company.num_followers }}</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                MORE INFO
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default overall-rating">
          <div class="panel-heading">
            <h3 class="panel-title">What it's like to work at {{ company.name }}</h3>
          </div>
          <div class="panel-body">
              {{ company.description }}
          </div>
        </div>
    </div>
</div>
<div class="row company">
    <div class="col-sm-4">
        <div class="panel panel-default overall-rating">
          <div class="panel-heading">
            <h3 class="panel-title">Overall Rating</h3>
          </div>
          <div class="panel-body">
            <donut-chart data="[4.2]"></donut-chart>
            <!--<donut-chart data="[company.overall_rating]"></donut-chart>-->
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4>work_life_balance_rating</h4>
                    <small-donut-chart data="[4.1]"></small-donut-chart>
                </div>
                <div class="col-sm-6">
                    <h4>culture values rating</h4>
                    <small-donut-chart data="[3.5]"></small-donut-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4>senior_leadership_rating</h4>
                    <small-donut-chart data="[3.8]"></small-donut-chart>
                </div>
                <div class="col-sm-6">
                    <h4>compensation_benefits_rating</h4>
                    <small-donut-chart data="[4.5]"></small-donut-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row company">CEO RATINGS IF TIME</div>
<div class="row company">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comparison of Average Number of followers</h3>
          </div>
          <div class="panel-body">
              <bar-chart data="[500, 3000]"></bar-chart>
<!--{#              {{ company.num_followers }}#}-->
              <!--get average num followers across all companies, do this in controller -->
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comparison Rating 2</h3>
          </div>
          <div class="panel-body">
              <double-radius></double-radius>
          </div>
        </div>
    </div>
</div>
<div class="row company">
    STOCK HERE IF TIME
</div>

