<div class="row top">
    <div class="col-sm-4">
        <div class="panel panel-default">
          <div class="panel-body">
            <a href="{{ company.website_url }}"><img src="{{ company.logo_url }}"></a>
              <br>
            <!--<div ng-switch="company">
{#    <div ng-if="company.logo_url">#}
{#        <img src="{{ company.logo_url }}">#}
{#    </div>#}
{#    <div ng-if="company.logo_url == ''">#}
{#        <p>Image No image available</p>#}
{#    </div>#}
{#</div>#}-->
          </div>
          <div class="panel-footer">{{ company.name }}</div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                Founded: {{ company.founded_year }}
              </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                Num. Followers <span>{{ company.num_followers }}</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                Employee Count Range: <span>{{ company.employee_count_range }}</span>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                Address: <span>{{ company.address }}</span>
              </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default overall-rating">
          <div class="panel-heading">
            <h3 class="panel-title">What it's like to work at {{ company.name }}</h3>
          </div>
          <div class="panel-body">
              {{ company.description }}
          </div>
        </div>
    </div>
</div>
<div class="row company">
    <div class="col-sm-4">
        <div class="panel panel-default overall-rating">
          <div class="panel-heading">
            <h3 class="panel-title">Overall Rating</h3>
          </div>
          <div class="panel-body">
            <!--<donut-chart data="[4.2]"></donut-chart>-->
            <donut-chart data="company.overall_rating"></donut-chart>
          </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4>work_life_balance_rating</h4>
                    <small-donut-chart data="company.work_life_balance_rating"></small-donut-chart>
                </div>
                <div class="col-sm-6">
                    <h4>culture values rating</h4>
                    <small-donut-chart data="company.culture_values_rating"></small-donut-chart>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="col-sm-6">
                    <h4>senior_leadership_rating</h4>
                    <small-donut-chart data="company.senior_leadership_rating"></small-donut-chart>
                </div>
                <div class="col-sm-6">
                    <h4>compensation_benefits_rating</h4>
                    <small-donut-chart data="company.compensation_benefits_rating"></small-donut-chart>
                </div>
            </div>
        </div>
    </div>
</div>
<!--make this an ng-if for if the picture exists-->
<div class="row company">
    <div class="col-sm-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <img src="{{ company.ceo_image.url }}">
            </div>
            <div class="panel-footer">{{ company.ceo }}</div>
        </div>
    </div>
    <div class="col-sm-3">
        <!--BIG TEXT -->
        <div class="row"><h1>{{ company.ceo_pct_approve }}</h1></div>
        <div class="row"><h1>{{ company.ceo_pct_disapprove }}</h1></div>
    </div>
</div>
<div class="row company">
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comparison of Average Number of followers</h3>
          </div>
          <div class="panel-body">
              {{ company.num_followers }}
              {{ avg_num_followers }}
              <bar-chart data="[company.num_followers,avg_num_followers]"></bar-chart>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Comparison Rating 2</h3>
          </div>
          <div class="panel-body">
              <double-radius></double-radius>
          </div>
        </div>
    </div>
</div>
<div class="row company">
    <div class="row">
        <div class="col-xs-6 ">
            <highchart id="chart1" config="chartConfig" class="span9" ></highchart>
        </div>
    </div>
</div>


