<span>Search By Place</span>
<input ng-model="placeName" type="text" placeholder="San Francisco, CA">
<br>
<span>Which industry:</span>
<!--<input ng-model="firstname" type="text" placeholder="firstname"> DROP DOWN-->
<br>
<span>Keywords:</span>
<!--<input ng-model="lastname" type="text" placeholder="lastname">-->
<br>
<button data-ng-click="searchCompany(placeName);">Search</button>

<!--hide the div-->
<div id="map">
<!--{#    <mapbox map-id="bkistner.k0m7ndk8" lat="{{ location.lat }}" lng="{{ location.lng }}">#}-->
    <mapbox map-id="bkistner.k0m7ndk8" lat="37.7833" lng="-122.4167" zoom="13">
        <div ng-repeat="company in companies">
            <marker lat="{{company.latitude}}" lng="{{company.longitude}}" color="#39cccc" symbol="ferry">
               <h1>{{company.name}}</h1>
                    what other information do you want to add here?
               <a href="#/companies/{{ company.id }}">Company Page</a>
            </marker>
        </div>
    </mapbox>
</div>


<!--Example-->
<!--{#L.mapbox.accessToken = 'pk.eyJ1IjoiYmtpc3RuZXIiLCJhIjoiN2I1M0stSSJ9.KuFhmem-2ZN4Q6LddSUgiQ';#}
{#var map = L.mapbox.map('map', 'bkistner.k0m7ndk8')#}
{#    .setView([37, -122], 5);#}
{#{% for view, view_count  in view_and_count.iteritems %}#}
{#L.mapbox.featureLayer({#}
{#    type: 'Feature',#}
{#    geometry: {#}
{#        type: 'Point',#}
{#        coordinates: [#}
{#            {{ view.longitude }},#}
{#            {{ view.latitude }}#}
{#        ]#}
{#    },#}
{#    properties: {#}
{#        title: "{{ view_count }}",#}
{#        'marker-color': '#548cba',#}
{#        'marker-size': 'small',#}
{#        'marker-symbol': 'ferry'#}
{#    }#}
{#{).addTo(map);#}
{#{% endfor %}#}-->