<span>Search By Place</span>
<input ng-model="placeName" type="text" placeholder="San Francisco, CA">
<br>
<span>Which industry:</span>
<select ng-model="testing"  ng-options="industry.name for industry in industries" placeholder="Industry Choice"></select>
<br>
<span>Keywords:</span>
<input ng-model="keyword" type="text" placeholder="search by keyword">
<br>
<button data-ng-click="searchCompany(placeName);">Search</button>

<!--hide the div-->
<div id="map">
<!--{#    <mapbox map-id="bkistner.k0m7ndk8" lat="{{ location.lat }}" lng="{{ location.lng }}">#}-->
    <mapbox map-id="bkistner.k0m7ndk8" lat="37.7833" lng="-122.4167" zoom="13">
        <div ng-repeat="company in companies">
            <marker lat="{{company.latitude}}" lng="{{company.longitude}}" color="#39cccc" symbol="ferry">
               <h1>{{company.name}}</h1>
                    what other information do you want to add here?
               <a href="#/companies/{{ company.id }}">Company Page</a>
            </marker>
        </div>
    </mapbox>
</div>
